node_modules
coverage
/nbproject/private/
/generators/app/templates/autoscan.log
/generators/app/templates/autom4te.cache/traces.0
/generators/app/templates/autom4te.cache/traces.1
/generators/app/templates/autom4te.cache/output.1
/generators/app/templates/autom4te.cache/requests
/generators/app/templates/autom4te.cache/output.0
/generators/app/templates/config.status
/generators/app/templates/config.log
/generators/app/templates/config.h.in
/generators/app/templates/configure
/generators/app/templates/configure.scan
/generators/app/templates/stamp-h1
/generators/app/templates/compile
/generators/app/templates/config.sub
/generators/app/templates/config.guess
/generators/app/templates/depcomp
/generators/app/templates/intltool-update.in
/generators/app/templates/ltmain.sh
/generators/app/templates/install-sh
/generators/app/templates/intltool-extract.in
/generators/app/templates/intltool-merge.in
/generators/app/templates/missing
/generators/app/templates/Makefile.in
/generators/app/templates/po/Makefile.in.in
/generators/app/templates/src/Makefile.in